/* universal */
* { 
    font: Palatino, Georgia, serif;
    color: #000;
}

/* header  */
header { 
    background-color: #BDE6EA;
    display: flex;
    position: absolute;
    height: 200px;
    width: 100%;
    top: 0;
    left: 0;
}

/* logo image */
header img { 
    float: left;
    height: 30%;
    width: 90%;
    padding-top: 50px;
    padding-left: 50px;
    margin-bottom: 0px;
}

/* search bar */
header input {
    position: relative;
    margin-right: 15px;
    margin-left: 60px;
    margin-top: 80px;
    width: 30%;
    height: 20px;
    float: right;
}

/* search symbol */
header i {
    position: relative;
    margin-right: 15%;
    margin-top: 85px;
    float: right;
    size: 20pt;
}

/* navigation bar */
nav table { 
    background-color: #BDE6EA;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 300%);
    z-index: 1;
}

/* links on nav bar */
nav a { text-decoration: none; }

/* cells of nav bar */
nav td { 
    border: 1px solid #262626;
    font-size: 15pt;
    padding: 10px 40px;
    justify-content: center;
}

/* main body of page */
body { 
    background-color: #FFD2E3;
    box-sizing: border-box;
    padding: 10px 30px;
    margin-top: 210px;
}

/* h1 titles */
section h1 { 
    font-size: 25pt;
    text-align: center;
}

/* h2 titles */
section h2 {
    font-size: 20pt;
}

/* paragraph text */
section p { 
    font-size: 12pt;
    text-align: justify;
    margin-left: 200px;
    margin-right: 200px;
    padding: 10px 5px 10px 5px;
}

/* links */
section a { 
    text-decoration: none;
    font-weight: bold;
}

/* contact container */
.contact {
    box-sizing: border-box;
    background-color: #BDE6EA;
    border-radius: 30px;
    position: absolute;
    padding: 20px;
    height: 400px;
    width: 550px;
    left: 50%;
    transform: translate(-50%, 0);
}

/* form boxes */
section input, textarea { 
    box-align: center;
    padding: 20px;
    border-radius: 10px;
}

/* color submit button */
.submit {
    background-color: #BDE6EA;
    box-align: right;
    position: absolute;
    transform: translate(-500%, 100);
}

/* about page right-aligned sections */
.right {
    text-align: right;
    margin-left: 15px;
    padding: 25px;
}

/* about page right-aligned image floats */
#right {
    float: right;
    padding: 20px;
    margin-top: 30px;
}

/* about page left-aligned sections */
.left {
    text-align: left;
    margin-right: 5px;
    padding: 25px;
    margin-top: 30px;
}

/* about page left-aligned image floats */
#left {
    float: left;
    padding: 25px;
    margin-top: 30px;
}

/* resizes images */
.resize {
    height: 300px;
    width: 400px;
}

/* footer */
footer {
    background-color: #BDE6EA;
    position: relative;
    height: 4vh;
    width: 100%;
    bottom: 0;
    margin-top: 500px;
}

/* footer text */
footer p {
    text-align: center;
    size: 10pt;
    padding-top: 10px;
}



