/* universal */
* { 
    font: Palatino, Georgia, serif;
    color: #000;
}

/* header  */
header { 
    background-color: #BDE6EA;
    display: flex;
    position: absolute;
    height: 200px;
    width: 100%;
    top: 0;
    left: 0;
}

/* logo image */
header img { 
    float: left;
    padding-left: 5%;
    height: 50%;
    width: 70%;
    padding-top: 10px;
}

/* search bar */
header input {
    position: relative;
    margin-right: 20%;
    margin-top: 20px;
    width: 30%;
    height: 20px;
    float: right;
}

/* navigation bar */
nav table { 
    border: 1px solid #262626;
    background-color: #BDE6EA;
    position: absolute;
    margin-bottom: 0;
}

/* links on nav bar */
nav a { text-decoration: none; }

/* cells of nav bar */
nav td { 
    border: 1px solid #262626;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    padding: 10px;
}

/* main body of page */
body { 
    background-color: #FFD2E3;
    box-sizing: border-box;
    padding: 10px;
    margin-top: 210px;;
}

/* h1 titles */
section h1 { 
    font-size: 20px;
    text-align: center;
}

/* h2 titles */
section h2 {
    font-size: 18px;
}

/* paragraph text */
section p { 
    font-size: 14px;
    text-align: justify;
}

/* links */
section a { 
    text-decoration: none;
    font-weight: bold;
}

/* form boxes */
section input { 
    box-align: center;
}

/* color submit button, if it would work */
.submit {
    background-color: #BDE6EA;
    box-align: right;
}

/* about page right-aligned sections */
.right {
    text-align: right;
    margin-right: 5px;
}

/* about page right-aligned image floats */
#right {
    float: right;
}

/* about page left-aligned sections */
.left {
    text-align: left;
    margin-right: 5px;
}

/* about page left-aligned image floats */
#left {
    float: left;
}

/* resizes images */
.resize {
    height: 300px;
    width: 300px;
}

/* footer */
footer {
    display: flex;
    background-color: #BDE6EA;
    position: absolute;
    height: 5vh;
    width: 100%;
    bottom: 0;
    left: 0;
}

/* footer text */
footer p {
    text-align: center;
    size: 10px;
}
